# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environment
venv/
env/

# VS Code settings
.vscode/

# Environment variables
.env

# SQLite and other DB files
*.db
*.sqlite3

# Alembic
alembic/versions/*.pyc

# Logs
*.log

# OS files
.DS_Store
Thumbs.db